.Header {
  min-height: 50px;
  background: rgb(49, 49, 49);
  display: flex;
  align-items: center;
}
.Header__item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2px 2px;
}
.Header__item:hover {
  cursor: pointer;
}
.Header__item>a {
  font-family: 'Roboto', sans-serif !important;
  color: rgb(0, 159, 233);
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s;
  padding: 2 2px;
}


.Header__item>span:hover {
  cursor: pointer;
  color: rgb(0, 217, 255);
}
.Header__item>a:hover {
  cursor: pointer;
  color: rgb(0, 217, 255);
}


.Header__wrap {
  box-sizing: border-box;
  max-width: 320px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
}
@media all and ( max-width: 428px ) {
  .Header {
    display: flex;
    justify-content: center;
  }
}