.center {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}
.centerBlock {
    display: flex;
    justify-content: center;
}
.input {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
}
.input:focus {
    outline-color: blue
}